.navbar {
  background-color: pink;
}
.col_navbar {
  background-color: #fff;
  height: 70px;
}
.col_navbar.left{
  background-color: red;
}
.col_navbar.right{
  background-color: blue;
}
.header {
  background-color: #1BBC9C;
  height: 300px;
}
.portfolio {
  text-align: center;
  background-color: brown;
}
.linea-s {
  width: 20%;
  float: left;
  background-color: blue;
  height: 3px;
  margin-left: 350px;
}
.linea-d {
  width: 20%;
  float: right;
  background-color: blue;
  height: 3px;
  margin-right: 350px;
}
/* .linea_stella {
  background-color: pink;
  width: 100%;
  display: flex;
} */
.width_30 {
  width: 50%;
  margin: 20px;
}
.box_portfolio {
  background-color: rgb(181, 223, 235);
  margin-bottom: 15px;
}
.container_box {
  background-color: pink;
  height: 300px;
}
.container_box
