/* header */
.header_top {
  width: 100%;
  height: 100px;
  background-color: #2C3E50;
}
.col_navbar {
  height: 100px;
}
.col_navbar.left {
  background-color: #2C3E50;
}
.col_navbar.left h4 {
  line-height: 70px;
  color: #fff;
  font-size: 28px;
}
.list_nav {
  list-style: none;
}
.list_nav li {
  display: inline-block;
  line-height: 90px;
  width: 100px;
  font-size: 20px;
  color: #fff;
}
.list_nav li:hover {
  color: #1BBA9B;
}
.avatar {
  width: 20%;
  margin-left: 40%;
}
.text_avatar {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}
.btn_green {
  background-color: red;
  line-height: 90px;
  font-size: 15px;
  color: #fff;
  width:80px;
  height: 30px;
}
.jumbo {
  background-color: #1BBC9C;
  height: 650px;
  width: 100%;
}
/* /header */
.portfolio {
  text-align: center;

}
.linea-s {
  width: 30%;
  background-color: #fff;
  height: 3px;
  margin-right: 0;
}
.linea-r {
  width: 30%;
  background-color: #fff;
  height: 3px;
  margin-left: 0;
}
.icon_star {
  margin-left: 70px;
  font-size: 20px;
  color: #fff;
}
.width_30 {
  width: 100%;
  margin-bottom: 50px;
  background-color: red;
}
.box_portfolio {
  background-color: pink;
}
.sezione_about {
  background-color: grey;
  height: 450px;
}
/* sezione about */
.title_section {
  text-align: center;
  margin-top: 50px;
}
.box_testo {
  margin-top: 90px;
}
.width_20 {
width: 50%;
}
.buttom_download {
  margin-left: 520px;
  margin-top: 40px;
  background-color: pink;
  width: 100px;
  border: 2px solid white;
}
.background_contact {
  background-color: red;
  height: 500px;;
}
.footer_box {
  background-color: pink;
}
.footer_box .col_footer {
  width: 100%;
  margin-left: 200px;
}
.footer_bar {
  background-color: yellow;
  height: 50px;
}
